' vim: set ff=unix ft=plantuml ts=4 sw=4 tw=0 sts=4 noet :
@startmindmap
' Reunión {{TIMESTAMP}}
' File    {{FILER}}
<style>
node {
    MaximumWidth 280
}
</style>
title Reunión {{TIMESTAMP}}

* Reunión
	*_ Pendiente
		*[#limegreen] Nosotros
		* Ellos

left side

	*_ objetivos
	*_ participantes
		* Mice
		* {{CURSOR}}
@endmindmap
